/* Mobile Styles (up to 767px) */
@media only screen and (max-width: 767px) {
  /* Header */
  #desktop-nav {
    display: none;
  }

  .sidebar {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 812px;
    background-color: #1e1823;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .sidebar.active {
    display: block;
    transform: translateX(0);
  }

  .sidebar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    color: #fff;
    padding-top: 80px;
  }
  .nav-links a {
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .sidebar .social-links {
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 2rem;
    margin-top: 2rem;
    color: #fff;
    padding: 60px;
  }
  .social-links use {
    display: flex;
    fill: #fff;
  }

  .close-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }
  /* End of Header */
  .heroaboutline {
    display: none;
  }
  div .button p .scroll-down {
    display: none;
  }
}

/* Tablet Styles (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sidebar {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 1024px;
    background-color: #1e1823;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .sidebar.active {
    display: block;
    transform: translateX(0);
  }
  .nav-links a {
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  .sidebar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
    color: #fff;
    padding-top: 80px;
  }

  .sidebar .social-links {
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 2rem;
    margin-top: 2rem;
    color: #fff;
    padding: 60px;
  }
  .social-links use {
    display: flex;
    fill: #fff;
  }
  .close-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }
  /* End of Header */
  .heroaboutline {
    display: none;
  }
}

/* Laptop/Desktop Styles (992px and above) */
@media only screen and (min-width: 992px) {
  /* Header */
  .hamburger,
  .logo-mobile {
    display: none;
  }

  .sidebar {
    display: none;
  }
  /* End of Header */
}
